
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">
  <h1>Sign in</h1>
  </div>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="card-body text-success">
      <div class="form-group">
        <p>Name:</p>
        <%= text_field_tag 'first_name', '', class: "form-control" %>
        <br>
        <p>Last name:</p>
        <%= text_field_tag 'last_name', '', class: "form-control" %>
        <br>
        <p>Description:</p>
        <%= text_field_tag 'description', '', class: "form-control" %>
        <br>
        <p>Age:</p>
        <%= text_field_tag 'age', '', class: "form-control" %>
        <br>
        <p>Email:</p>
        <%= text_field_tag 'email', '', class: "form-control" %>
        <br>
        <p>Password:</p>
        <%= password_field_tag 'password', '', class: "form-control" %>
        <br>
        <%= submit_tag "Submit", class: "btn btn-info" %>
        <p class="mt-4">Already a user? <%= link_to "Log in", new_session_path %>
      </div>
    </div>
  <% end %>

</div>