<div class="card border-success mb-3 text-center" style="max-width: 30rem;">
 <div class="card-header"><h1><i class="fas fa-edit"></i> Modify gossip n° <%= params[:id] %></h1></div>

  <%= form_tag url_for(action: 'update'), method: "patch" do %>
      <div class="card-body text-info">
        <div class="form-group">
          <%= label_tag 'Title'%>
          <%= text_field_tag :title, @gossip.title, class:'form-control', placeholder: @gossip.title %>
          <br /> <br />

          <%= label_tag 'Gossip content' %>
          <%= text_area_tag :content, @gossip.content, class:'form-control', placeholder: @gossip.content %>
          <br /> <br />

          <%= submit_tag "Modify", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>


  </div>
</div>
