<h1 class="text-center mb-5 mt-4"><i class="fas fa-city"></i> Gossips from <u><%= @city.name %></u></h1>
<div class="card-columns border-info container">
  <% @gossips.each do |i| %>
    <div class="card">
      <div class="card-header pb-1 d-flex">
        <h5 class="card-title"><%= i.title %></h5>
        <div class="ml-auto">
          <span class="badge badge-secondary"><i class="fas fa-comments"></i> <%= i.comments.count %></span>
          <span class="badge badge-secondary"><i class="fas fa-heart"></i> <%= i.likes.count %></span>
        </div>

      </div>
      <div class="card-body text-center">
        <p class="card-subtitle mb-2 text-info">" <%= i.content %> "</p>
        <p class="card-subtitle mb-2 text-muted"><em>de <%= i.user.first_name %></em></p>
        <%= link_to "See gossip", gossip_path(i.id),:class => "btn-info btn p-1"%>
      </div>
    </div>
  <% end %>
</div>